name: OrchestraLink CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r backend/requirements.txt
        pip install pylint pytest
        
    - name: Lint with Pylint
      run: |
        # Set PYTHONPATH so Pylint can see the 'app' module
        export PYTHONPATH=$PYTHONPATH:$(pwd)/backend
        # Run Pylint, disabling the noisy "logging-fstring" warning (W1203)
        pylint backend/app --disable=C,R,W1203 --fail-under=7.0
        
    # - name: Run Tests
    #   run: |
    #     pytest backend/tests
